<html>
    <head>
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <h1>Hello to my blog!</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact/">News</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
        <hr>

        {% if user.is_authenticated %}
            Hello, {{ user.get_full_name }}
        {% else %}
            Login!
        {% endif %}
    
        {% block content %}

        {% endblock %}

        <footer>
            By Ivaylo
        </footer>
    </body>
</html>